
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>FT Schema - {{.Label}}</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/theme.css" rel="stylesheet">
</head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FT Schema</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>{{.Label}}</h1>
        {{with .URI -}}
          <p>URI: {{.}}</p>
        {{end}}
        {{with .ParentType -}}
          <p>Parent Type: <a href="../{{ . }}">{{ . }}</a></p>
        {{end}}
          <p>Number of instances: {{.NOfInstances}}</p>
      </div>
      <div class="row">
        {{with .MoreSpecificTypes -}}
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">More specific Types</h3>
            </div>
              <ul class="list-group">
                {{ range $subConcept, $x := . }}
                <li class="list-group-item"><b><a href="../{{ $subConcept }}">{{ $subConcept }}</a></b></li>
                {{ end }}
              </ul>
          </div>
        </div><!-- /.col-sm-4 -->
        {{end}}
          {{with .TopInstances -}}
          <div class="col-sm-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="panel-title">Top Instances</h3>
                  </div>
                  <ul class="list-group">
                      {{ range $inst := . }}
                      <li class="list-group-item">
                          <p class="list-group-item-heading"><b> {{ $inst.Label }} (<a href="../{{ $inst.MostSpecificType }}">{{ $inst.MostSpecificType }}</a>)</b></p>
                          <p class="list-group-item-text"><small>Used {{ $inst.TimesUsed }} times</small></p>
                      </li>
                      {{ end }}
                  </ul>
              </div>
          </div><!-- /.col-sm-4 -->
          {{end}}
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>